/*LIGHT MODE COLORS*/

$blue: #0079FF;
$gray: #697C9A;
$darkBlue_light: #4B6A9B;
$darkGray_light: #2B3442;
$lightGray: #F6F8FF;
$white_light: #FEFEFE;


/*DARK MODE COLORS*/

$blue: #0079FF;
$white_dark: #FFFFFF;
$darkGray_dark: #141D2F;
$darkBlue_dark: #1E2A47;


/*Typography*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@mixin h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

@mixin h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
}

@mixin h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

@mixin h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;    
}

@mixin body {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

@mixin flex_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}


/*Automatically change theme*/

:root {
    --var-bgcolor: #F6F8FF;
    --var-fontcolor: #4B6A9B;

    .toggle {
        @include flex_row;
    }

    .toggle_light {
        display: none;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
      --var-bgcolor: #141D2F;
      --var-fontcolor: #FFFFFF;

      .toggle {
        @include flex_row;
    }

      /*.toggle_light {
        display: block;
    }*/

    .toggle_dark {
        display: none;
    }
    }
}


/*start*/

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
    max-width: 730px;
    margin: 144px auto;
}

.header {
    @include flex_row;
    margin-bottom: 36px;

    .header__logo {
        @include h1;

    }

    .toggle__desc {
        text-transform: uppercase;
        margin-right: 16px;
    }
}

.search-form {
    margin-bottom: 24px;

    .search-form__content {
        width: 100%;
        height: 69px;
        background: $white_light;
        border-radius: 15px;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        @include flex_row;
        justify-content: flex-start;

        .search-form__thumb {
            margin-left: 32px;
        }

        .search-form__thumb:hover,
        .search-form__thumb:focus {
            cursor: pointer;
        }

        .search-form__input {
            margin-left: 24px;
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            padding: 0 5px 0 0;

            font-family: Space Mono;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            color: #222731;
            caret-color: $blue;
        }

        .search-form__input::placeholder {
            color: $darkBlue_light;
        }

        .search-form__button {
            margin: 0 10px 0 auto;

            border: none;
            outline: none;

            background-color: $blue;
            border-radius: 10px;
            padding: 13px 23px;
            color: $white_light;
            font-family: Space Mono;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
}

.search-form:hover,
.search-form__input:hover {
    cursor: pointer;
}

.user-card {
    background-color: $white_light;
    border-radius: 15px;
    padding: 48px;
    @include flex_row;
    justify-content: flex-start;
    align-items: flex-start;

    .user-card__icon {
        max-width: 117px;
        max-height: 117px;
        border-radius: 60px;
        margin-right: 37px;

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
    }

    .user-card__info {
        max-width: 480px;

        .user__desc {
            width: 100%;

            .user__name {
                @include h1;
                color: $darkGray_light;
                margin-bottom: 2px;
            }

            .user__nick {
                @include h3;
                color: $blue;
            }
        }

        .user__activities {
            background-color: $lightGray;
            width: 100%;
            border-radius: 10px;
            padding: 16px 32px;
        }
    }
}
